--extra-index-url https://download.pytorch.org/whl/cpu
fastapi[all]
uvicorn[standard]
pillow
numpy
pandas
sqlalchemy
aioredis
websockets
python-multipart
opencv-python-headless
ultralytics
torch
torchvision
torchmetrics